.menuDesktop{
    width: 100%;
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 20px;
    @media(max-width: 600px){
        display: none;
    }
}
.menuDesktop a{
text-decoration: none;
color: white;
font-size: 20px;
padding: 20px;
font-family: "Zen Dots", sans-serif;
font-weight: 400;
font-style: normal;
margin: 10px; 
}

.menuDesktop a:hover{
    color:#854BD0;
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}