*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    margin: 0 auto;
    height: 100vh;
    background-image: linear-gradient(to left,#854BD0,rgb(46, 46, 46) );
    @media(min-width:600px){
        width: 1400px;
    }
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
header img{
    width: 50px;
    margin: 10px;
}
.iconMenu{
    cursor: pointer;
    width: 40px;
    animation: rotacionar 1s linear infinite;
    @media(min-width: 600px){
        display: none;
    }
}
@keyframes rotacionar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.hr1{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to left,#c52be4, #944ee9,#3c34b1,#64ade9, #893be7,#893be7,#e73ba5,#1bb9e9 );
    margin: 0;
}
.boxMenu{
    display: flex;
    /* width: 170px; */
    height:350px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 120px;
    /* visibility: hidden; */
    @media(min-width: 600px) {
        display: none; 
    }
}

.boxMenu a{
text-decoration: none;
color: black;
font-size: 18 px;
font-family: "Zen Dots", sans-serif;
font-weight: 400;
margin-top: 10px;
padding: 7px ;
background-color: white;
border-radius: 10px 0 0 10px;
font-style: normal;
}

.boxMenu a:hover{
    color:#9f1bb9;
    
}
.section1{
    @media(max-width:600px){
        background-image: url(imagens/bacSec1.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        display: flex;
        width: 100%;
        height: 480px;
        position: relative;
    }
    
}
.subSection1{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}
.apresentacao{
    /* height: 300px; */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    color: white;
 
    margin-top: 10px;
   
}
.apresentacao h2{
    line-height: 35px;
    width: 255px;
    @media(max-width:600px){
        font-size: 30px;
       
    }
}

.arrow{
    position: absolute;
    width: 25px;
    top: 90%;
    left: 50%;
   
    animation: seta 1s infinite ease-in-out;
}
.section2{
    background-image: url(imagens/fundoSec2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    overflow: hidden;
    
}
.subSection2{
    width: 100%;
    height: 450px;
   
}
.section2 h3{
    color: white;
    /* text-align: center; */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    visibility: hidden;
}
.imgTecnologias{
    visibility: hidden;
}
/* @keyframes seta {
    0%{
        
        transform: translateY(-600px);
        break-after: avoid;
    }
    50%{
        transform: translateY(18px);
    }
    100%{
        transform: translateY(30px);
        }
    } */




