*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    margin: 0 auto;
    height: 100vh;
    /* background-image: url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(to left,#854BD0,rgb(46, 46, 46) );
    @media(min-width:600px){
        width: 1400px;
    }
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
header img{
    width: 50px;
    margin: 10px;
}
.iconMenu{
    cursor: pointer;
    width: 40px;
    animation: rotacionar 1s linear infinite;
    @media(min-width: 600px){
        display: none;
    }
}
@keyframes rotacionar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.boxMenu{
    display: flex;
    width: 170px;
    height:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 1 px solid black;
    @media(min-width: 600px) {
        display: none; 
    }
}

.boxMenu a{
text-decoration: none;
color: black;
font-size: 20px;
font-family: "Zen Dots", sans-serif;
font-weight: 400;
margin: 10px;
padding: 7px ;
width: 100%;
background-color: white;
border-radius: 10px 0 0 10px;
font-style: normal;
}

.boxMenu a:hover{
    color:#9f1bb9;
    
}

.menuDesktop{
    width: 100%;
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 20px;
    @media(max-width: 600px){
        display: none;
    }
}
.menuDesktop a{
text-decoration: none;
color: white;
font-size: 20px;
padding: 20px;
font-family: "Zen Dots", sans-serif;
font-weight: 400;
font-style: normal;
margin: 10px; 
}

.menuDesktop a:hover{
    color:#854BD0;
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.section1{
    background-image: url(imagens/EZZE\ Design\ Image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 400px;
}
.subSection1{
    display: flex;
    flex-direction: row-reverse;
    
}
.apresentacao{
    /* height: 300px; */
    /* width: 100%; */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    padding: 20px;
    color: white;
}
.apresentacao h1{
    line-height: 45px;
    overflow: hidden;
    @media(max-width:600px){
        font-size: 25px;
    }
}

/* section .fotoAvatar{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/fundoAvatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    overflow: hidden;
} */
/* section .fotoAvatar img{
    width: 240px; 
    
}  */

hr{
    margin-top: 40px;
    width: 100%;
    height: 2px;
    background-color: #bea9d8;
}
.sites{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sites img{
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    
}
.img1, .img2, .img3, .img4, .img5{
    visibility: hidden;
}
