:root{
    --Very_dark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
    @media(min-width:600px){
        width: 1300px;
        margin: auto;
    }
}
.headerDesktop{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid var(--Grayish_blue);
    @media(max-width:600px){
        display: none;
    }
}
.headerMobile{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    @media(min-width:600px){
        display: none;
    }
}
.menuMobile{
    padding: 10px;
    width: 50px;
    cursor: pointer;
}
.linha{
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
nav{
    @media(min-width:600px){
        width: 100%;
    }
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding: 10px;
    margin-left: 30px;
    /* background-color: aquamarine; */
    @media(max-width:600px){
        display: none;
    }
}
nav ul li{
    color:var(--Dark_grayish_blue);
}
.resum{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 90px;
    justify-content: space-between;
    @media(min-width:600px){
        width: 120px;
    }
}
.custumer{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(images/image-avatar.png);
    background-position: center;
    background-size: cover;
}
.imgProduct{
    width: 100%;
    height: 350px;
    background-image: url(images/image-product-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width:600px){
        display: none;
    }
}