.section3{
    width: 100%;
    padding: 10px;
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    background-image: url(../images/backsec3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    
}

.section3 h3{
    color: #d86228;
    font-size: 25px;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subSection3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    @media(min-width:700px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media(min-width:1000px){
        grid-template-columns: repeat(5, minmax(50px, 200px));
       
    }
}
.section3 img{
    width: 50px;
}

.mysql img{
    width: 120px;
}

.mongo img{
    width: 30px;
    margin-top: 0px;
}

.flutter img{
    width: 60px;
   margin-top: 0;
}

.bootstrap img{
    width: 70px;
}

.postgress img{
    width: 80px;
    margin-top: 0px;
}

.postgress .h3postgress{
    margin-top: 15px;
}

.tec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 110px;
    width: 110px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    @media(min-width: 500px){
        width: 150px;
    }
}

.tec:hover{
    transform: scale(1.1);
}

.tec h3{
    color: white;
    font-size: 13px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.336);
    @media(min-width:500px){
        font-size: 18px;
    }
}
