.section2{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h3apresentacao{
    color: #000000;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.subSection2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    @media(min-width: 600px){
        width: 700px;
    }
}
.h3quemsou{
    color: #d86228;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    @media(min-width: 600px){
        font-size: 50px;
    }
    /* font-size: 20px; */
}

.divQuemsou{
    @media(min-width: 600px){
    width: 700px;
    padding: 50px;
    /* background-color: rgba(0, 0, 0, 0.11); */
    border-radius: 10px;
    }
}
.section2 h3{
    color: white;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    @media(min-width:600px){
        font-size: 30px;
    }
}

.avatar{
    display: none;
    @media(min-width: 600px){
        display: block;
        width: 500px;
        padding: 50px;
        /* background-color: rgba(0, 0, 0, 0.281); */
        border-radius: 10px;
    }
}

.avatar img{
    width: 300px;
    
  
}

