.section2{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, black, #090060, black) ;
    @media(min-width: 600px){
        width: 100%;
    } 
}
.h3apresentacao{
    font-size: 20px;
}

.subSection2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    @media(min-width: 600px){
        width: 100%;
    }
}
.h3quemsou{
    color:#d86228;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    @media(min-width: 600px){
        font-size: 40px;
    }
}

.divQuemsou{
    @media(min-width: 600px){
        padding: 10px;
        /* border-radius: 10px; */
    }
}
.section2 h3{
    color: white;
    text-align: center;
    font-size: 20px;
}



