.section3{
    width: 100%;
    padding: 10px;
    margin-top: 70px;
   
}

.section3 h3{
    color: white;
    text-align: center;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tecnologias{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, auto));
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    @media(min-width:500px){
        grid-template-columns: repeat(3, minmax(50px, 200px));
    }
    @media(min-width:800px){
        grid-template-columns: repeat(4, minmax(50px, 300px));
    }

}

.section3 img{
    width: 50px;
}

.mysql img{
    width: 120px;
}

.figma img{
    width: 40px;
}
.mongo img{
    width: 30px;
}
.bootstrap img{
    width: 70px;
}

.tec{
    text-align: center;
    height: 110px;
    width: 110px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    @media(min-width: 500px){
        width: 170px;
    }
}
.tec:hover{
    transform: scale(1.1);
}

.tec h3{
    color: white;
    font-size: 13px;
    @media(min-width:500px){
        font-size: 18px;
    }
}
.img1, .img2, .img3, .img4, .img5{
    visibility: hidden;
}