.section5{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section5 h3{
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    margin-top: 40px;
    color: white;
    font-size: 25px;
}
.subSection5{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    @media(min-width:600px){
        grid-template-columns: repeat(2, minmax(50px, 350px));
    }
    @media(min-width:800px){
        grid-template-columns: repeat(3, minmax(200px, 400px));
    }
}
.subSection5 p, h4{
    color: white;
    font-family: "Zen Dots", sans-serif;
}
.etapa{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.circuloPasso{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.288);
    width: 40px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: yellow;
    font-family: "Zen Dots", sans-serif;
}

.textoDaEtapa{
    width: 300px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.151);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}