/* .hr2{
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left,#c52be4, #944ee9,#3c34b1,#64ade9, #893be7,#893be7,#e73ba5,#1bb9e9 );
    margin: 0;
} */

.sites{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sites img{
    margin-top: 20px;
    padding: 10px;
    width: 250px;
}

